<div ng-include="'views/templates/_headerView.html'"></div>

<div class="container">
	<div ng-include="'views/templates/_loginRegisterView.html'"></div>

	<fieldset class="col-lg-8 col-md-8">
			<legend class="text-center">User Registration</legend>
		<form data-toggle="validator" class="form-horizontal" name="registerForm" role="form" novalidate="novalidate">
			<div class="form-group">
			  <label for="username" class="col-lg-4 col-md-4 control-label">Username</label>
				<div class="col-lg-6 col-md-6">
			    	<input ng-model="user.username" type="text" class="form-control" id="username" placeholder="Username" required>
				</div>
			</div>
			<div class="form-group">
				<label for="password" class="col-lg-4 col-md-4 control-label">Password</label>
				<div class="col-lg-6 col-md-6">
					<input ng-model="user.password" type="password" class="form-control" id="password" placeholder="Password" required>
				</div>
			</div>
			<div class="form-group">
				<label for="passwordConfirm" class="col-lg-4 col-md-4 control-label">Confirm password</label>
			  	<div class="col-lg-6 col-md-6">
			    	<input ng-model="user.confirmPassword" type="password" class="form-control" id="passwordConfirm" placeholder="Confirm password" required>
			  	</div>
			</div>
			<div class="form-group">
				<label for="name" class="col-lg-4 col-md-4 control-label">Name</label>
			  	<div class="col-lg-6 col-md-6">
			    	<input ng-model="user.name" type="text" class="form-control" id="name" placeholder="Name" required>
			  	</div>
			</div>
			<div class="form-group">
				<label for="email" class="col-lg-4 col-md-4 control-label">Email</label>
			  	<div class="col-lg-6 col-md-6">
			    	<input ng-model="user.email" type="email" class="form-control" id="email" placeholder="Email" required>
			  	</div>
			</div>
			<div class="form-group">
				<label for="phone" class="col-lg-4 col-md-4 control-label">Phone</label>
			  	<div class="col-lg-6 col-md-6">
			    	<input ng-model="user.phone" type="text" class="form-control" id="phone" placeholder="Phone" required>
			  	</div>
			</div>
			<div class="form-group">
				<label for="town" class="col-lg-4 col-md-4 control-label">Town</label>
			  	<div class="col-lg-6 col-md-6">
					<div class="btn-group droppDownButton fullWidth">
		                <div data-toggle="dropdown" class="input-group fullWidth">
		                    <button ng-model="currentRegisterTown" type="button" class="btn btn-primary width-85-percent margin-left-btn white-space-normal">
		                            {{currentRegisterTown.name}}
		                    </button>
		                    <button type="button" class="btn btn-primary dropdown-toggle width-15-percent margin-right-btn">
		                        <span class="caret"></span>
		                        <span class="sr-only">Toggle Dropdown</span>
		                    </button>
		                </div>
		                <ul class="dropdown-menu dropdown-inline-scrolled-absolute fullWidth" role="menu">
		                    <li ng-repeat="town in registerTowns" class="dropDownItemBorder">
		                        <a ng-click="selectTown(town, true)">{{town.name}}</a>
		                    </li>
		                </ul>
		            </div>
			  	</div>
			</div>

			<div class="form-group">
			    <div class="col-lg-offset-4 col-md-offset-4 col-lg-10 col-md-10 margin-bottom-50">
			    	<button ng-click="cancel()" type="btn" class="btn btn-default">Cancel</button>
			    	<button ng-click="register()" type="btn" class="btn btn-primary" ng-disabled="registerForm.$invalid">Register</button>
			    </div>
			</div>
		</form>
	</fieldset>
</div>