<aside class="col-lg-2 col-md-2 text-center lightblue margin-bottom-50">
	<div class="margin-top-bottom-10 font-weight-bold">
		<fieldset>
			<legend>Navigation</legend>
		</fieldset>
		<div class="margin-top-bottom-10">
			<button class="btn btn-primary fixed-btn-width" ng-click="redirectToHome()">Home</button>
		</div>
		<div class="margin-top-bottom-10 ">
			<button class="btn btn-primary fixed-btn-width" ng-click="redirectToMyAds()">My Ads</button>
		</div>
		<div class="margin-top-bottom-10">
			<button class="btn btn-primary fixed-btn-width" ng-click="redirectToPublishNewAd()">Publish New Ad</button>
		</div>
		<div class="margin-top-bottom-10">
			<button class="btn btn-primary fixed-btn-width" ng-click="redirectToEditProfile()">EditProfile</button>
		</div>
	</div>
</aside>