<div class="container">
	
	<div class="col-lg-2 col-md-3 text-center lightblue">
		<div class="margin-top-bottom-10 font-weight-bold">
			To publish a new add, please login.
		</div>
		<div class="margin-top-bottom-10">
			<button class="btn btn-primary" ng-click="login()">Login</button>
		</div>
		<div class="margin-top-bottom-10">
			<button class="btn btn-primary" ng-click="register()">Register</button>
		</div>
	</div>


	<div class="col-lg-8 col-md-9">
		<div class="well" ng-repeat="ad in data.ads | filter:townId:categoryId">
			<div class="row margin-bottom-20 margin-left-right-0">
				<span ng-bind="ad.title"></span>
				<span class="pull-right">{{ad.date | date:'d-MMM-yyyy'}}</span>
				
			</div>
			<div class="row">
				<div class="col-lg-4">
					<img src="" ng-src="{{ad.imageDataUrl}}" alt="Ad Photo" width="200" height="200">
				</div>
				<div class="col-lg-8">
					<p>Town: {{ad.townId}}</p>
					<p>Category: {{ad.categoryId}}</p>
					<p>{{ad.text}}</p>
					<table class="table">
						<tr>
							<td>
								Name: 
							</td>
							<td>
								<span>{{ad.ownerName}}</span>
							</td>
						</tr>
						<tr>
							<td>
								Email: 
							</td>
							<td>
								<a href="mailto:{{ad.ownerEmail}}?Subject={{ad.title}}">{{ad.ownerEmail}}</a>
							</td>
						</tr>
						<tr>
							<td>
								Phone: 
							</td>
							<td>
								<span>{{ad.ownerPhone}}</span>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div class="col-lg-2 col-md-2">
		<fieldset>
			<legend>Categories</legend>			
			<ul class="nav nav-pills nav-stacked menu">	
				<li ng-class="{'active': categoryIndex == -1}">
					<a href="" ng-click="categoryClicked(-1)">All</a>
				</li>			
				<li ng-repeat="category in categories" ng-class="{'active': categoryIndex == $index}">
					<a href="" ng-click="categoryClicked(category, $index)">
						{{category.name}} {{category.id}}
					</a>					
				</li>
			</ul>
		</fieldset>

		<fieldset>
			<legend>Towns</legend>
			<ul class="nav nav-pills nav-stacked menu">	
				<li ng-class="{'active': townIndex == -1}">
					<a href="" ng-click="townClicked(-1)">All</a>
				</li>			
				<li ng-repeat="town in towns" ng-class="{'active': townIndex == $index}">
					<a href="" ng-click="townClicked(town, $index)">
						{{town.name}} {{town.id}}
					</a>					
				</li>
			</ul>
		</fieldset>
	</div>

</div>